<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create user</title>
    <style>.field{width: 180px;}</style>
</head>
<body>
    <h1>Create user</h1>
    <form method="POST">
        <label>Name</label><br>
        <input name="name" class="field"/><br><br>
        <label>Age</label><br>
        <input type="number" name="age" class="field" min="1" max="110" /><br><br>
        <input type="submit" value="Send" />
    </form>
    <a href="/">Users list</a>
</body>
</html>